<a href="https://colab.research.google.com/github/Hendrik-Stolzke/Studium-AKI/blob/main/week_4/Assignment_Hive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
!pip install -q condacolab

In [2]:
import condacolab
condacolab.install()

âœ¨ðŸ°âœ¨ Everything looks OK!

In [3]:
!pip install pyhive thrift thrift_sasl

Requirement already satisfied: pyhive in /usr/local/lib/python3.11/site-packages (0.7.0)
Requirement already satisfied: thrift in /usr/local/lib/python3.11/site-packages (0.21.0)
Requirement already satisfied: thrift_sasl in /usr/local/lib/python3.11/site-packages (0.4.3)
Requirement already satisfied: future in /usr/local/lib/python3.11/site-packages (from pyhive) (1.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/site-packages (from pyhive) (2.9.0.post0)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.11/site-packages (from thrift) (1.17.0)
Requirement already satisfied: pure-sasl>=0.6.2 in /usr/local/lib/python3.11/site-packages (from thrift_sasl) (0.6.2)

In [4]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [5]:
# try to connect
server="ec2-34-242-59-145.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [6]:
#show our databases
cursor.execute('show databases')

In [7]:
#get data from execution
cursor.fetchall()

[('default',)]

In [8]:
#use default db
cursor.execute('use default')

In [9]:
#show tables in db
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('hue__tmp_employees',), ('hue__tmp_salaries',)]

In [11]:
# get table layout
cursor.execute('describe hue__tmp_employees')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'string', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', ''),
 ('field_5', 'string', ''),
 ('field_6', 'string', '')]

In [12]:
#select data
cursor.execute('select * from hue__tmp_employees')

In [13]:
#get daata from selction
employee = cursor.fetchall()

In [14]:
#have a look
employee[:10]

[(10001, "'1953-09-02'", "'Georgi'", "'Facello'", "'M'", "'1986-06-26'"),
 (10002, "'1964-06-02'", "'Bezalel'", "'Simmel'", "'F'", "'1985-11-21'"),
 (10003, "'1959-12-03'", "'Parto'", "'Bamford'", "'M'", "'1986-08-28'"),
 (10004, "'1954-05-01'", "'Chirstian'", "'Koblick'", "'M'", "'1986-12-01'"),
 (10005, "'1955-01-21'", "'Kyoichi'", "'Maliniak'", "'M'", "'1989-09-12'"),
 (10006, "'1953-04-20'", "'Anneke'", "'Preusig'", "'F'", "'1989-06-02'"),
 (10007, "'1957-05-23'", "'Tzvetan'", "'Zielinski'", "'F'", "'1989-02-10'"),
 (10008, "'1958-02-19'", "'Saniya'", "'Kalloufi'", "'M'", "'1994-09-15'"),
 (10009, "'1952-04-19'", "'Sumant'", "'Peac'", "'F'", "'1985-02-18'"),
 (10010, "'1963-06-01'", "'Duangkaew'", "'Piveteau'", "'F'", "'1989-08-24'")]

In [15]:
# get salary table layout
cursor.execute('describe hue__tmp_salaries')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'bigint', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', '')]

In [16]:
#select data
cursor.execute('select * from hue__tmp_salaries')

In [17]:
#get daata from selction
salary = cursor.fetchall()

In [18]:
salary[:10]

[(10001, 60117, "'1986-06-26'", "'1987-06-26'"),
 (10001, 62102, "'1987-06-26'", "'1988-06-25'"),
 (10001, 66074, "'1988-06-25'", "'1989-06-25'"),
 (10001, 66596, "'1989-06-25'", "'1990-06-25'"),
 (10001, 66961, "'1990-06-25'", "'1991-06-25'"),
 (10001, 71046, "'1991-06-25'", "'1992-06-24'"),
 (10001, 74333, "'1992-06-24'", "'1993-06-24'"),
 (10001, 75286, "'1993-06-24'", "'1994-06-24'"),
 (10001, 75994, "'1994-06-24'", "'1995-06-24'"),
 (10001, 76884, "'1995-06-24'", "'1996-06-23'")]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [30]:
cursor.execute("select * from hue__tmp_employees order by field_4") # field_4 == family_name

In [34]:
cursor.fetchall()
salary[:10]

[(10001, 60117, "'1986-06-26'", "'1987-06-26'"),
 (10001, 62102, "'1987-06-26'", "'1988-06-25'"),
 (10001, 66074, "'1988-06-25'", "'1989-06-25'"),
 (10001, 66596, "'1989-06-25'", "'1990-06-25'"),
 (10001, 66961, "'1990-06-25'", "'1991-06-25'"),
 (10001, 71046, "'1991-06-25'", "'1992-06-24'"),
 (10001, 74333, "'1992-06-24'", "'1993-06-24'"),
 (10001, 75286, "'1993-06-24'", "'1994-06-24'"),
 (10001, 75994, "'1994-06-24'", "'1995-06-24'"),
 (10001, 76884, "'1995-06-24'", "'1996-06-23'")]

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [38]:
cursor.execute("select f.field_4, s.field_2 from hue__tmp_salaries s join hue__tmp_employees f on s.field_1 = f.field_1 limit 100")
cursor.fetchall() # family_name is field_4 in hue__tmp_employees and salary is field_2 in hue__tmp_salaries

[("'Facello'", 88958),
 ("'Facello'", 85097),
 ("'Facello'", 85112),
 ("'Facello'", 84917),
 ("'Facello'", 81097),
 ("'Facello'", 81025),
 ("'Facello'", 80013),
 ("'Facello'", 76884),
 ("'Facello'", 75994),
 ("'Facello'", 75286),
 ("'Facello'", 74333),
 ("'Facello'", 71046),
 ("'Facello'", 66961),
 ("'Facello'", 66596),
 ("'Facello'", 66074),
 ("'Facello'", 62102),
 ("'Facello'", 60117),
 ("'Simmel'", 72527),
 ("'Simmel'", 71963),
 ("'Simmel'", 69366),
 ("'Simmel'", 67534),
 ("'Simmel'", 65909),
 ("'Simmel'", 65828),
 ("'Bamford'", 43311),
 ("'Bamford'", 43699),
 ("'Bamford'", 43478),
 ("'Bamford'", 43636),
 ("'Bamford'", 43466),
 ("'Bamford'", 43616),
 ("'Bamford'", 40006),
 ("'Koblick'", 74057),
 ("'Koblick'", 70698),
 ("'Koblick'", 69722),
 ("'Koblick'", 67096),
 ("'Koblick'", 64340),
 ("'Koblick'", 62566),
 ("'Koblick'", 60770),
 ("'Koblick'", 58326),
 ("'Koblick'", 54693),
 ("'Koblick'", 52119),
 ("'Koblick'", 50594),
 ("'Koblick'", 48271),
 ("'Koblick'", 46065),
 ("'Koblick'", 42542),
 ("'Koblick'", 42283),
 ("'Koblick'", 40054),
 ("'Maliniak'", 94692),
 ("'Maliniak'", 91453),
 ("'Maliniak'", 90531),
 ("'Maliniak'", 90392),
 ("'Maliniak'", 89724),
 ("'Maliniak'", 88063),
 ("'Maliniak'", 88448),
 ("'Maliniak'", 86050),
 ("'Maliniak'", 85076),
 ("'Maliniak'", 85572),
 ("'Maliniak'", 83735),
 ("'Maliniak'", 82621),
 ("'Maliniak'", 78228),
 ("'Preusig'", 59755),
 ("'Preusig'", 60098),
 ("'Preusig'", 58299),
 ("'Preusig'", 56032),
 ("'Preusig'", 53747),
 ("'Preusig'", 52255),
 ("'Preusig'", 47917),
 ("'Preusig'", 47518),
 ("'Preusig'", 45844),
 ("'Preusig'", 42629),
 ("'Preusig'", 42085),
 ("'Preusig'", 40000),
 ("'Zielinski'", 88070),
 ("'Zielinski'", 84456),
 ("'Zielinski'", 80083),
 ("'Zielinski'", 79513),
 ("'Zielinski'", 75582),
 ("'Zielinski'", 73362),
 ("'Zielinski'", 70220),
 ("'Zielinski'", 68833),
 ("'Zielinski'", 64563),
 ("'Zielinski'", 63208),
 ("'Zielinski'", 63475),
 ("'Zielinski'", 62745),
 ("'Zielinski'", 60740),
 ("'Zielinski'", 56724),
 ("'Kalloufi'", 52668),
 ("'Kalloufi'", 48584),
 ("'Kalloufi'", 46671),
 ("'Peac'", 94409),
 ("'Peac'", 94443),
 ("'Peac'", 93507),
 ("'Peac'", 90668),
 ("'Peac'", 89324),
 ("'Peac'", 85875),
 ("'Peac'", 82507),
 ("'Peac'", 80944),
 ("'Peac'", 78335),
 ("'Peac'", 76518),
 ("'Peac'", 74612),
 ("'Peac'", 71434)]

## Ex 3
Get the average salary by gender. Hint: use Group by

In [40]:
cursor.execute("select f.field_5, avg(s.field_2) as average_salary from hue__tmp_salaries s join hue__tmp_employees f on s.field_1 = f.field_1 group by f.field_5") # Calculate average salary and group by gender
cursor.fetchall()

[("'F'", 63760.08469915328), ("'M'", 63758.86649934126)]